.service-offer-card {
    /* border: 1px solid #213252; */
    border-radius: 8px;
    background-color: #f6f6f6;
    /* background: rgba(23,39,69,0.9); */
}

.service-offer-card:hover {
    transition: 0.3s;
    cursor: pointer;
    background: rgba(23, 39, 69, 0.9);
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.service-svg {
    transition: fill 0.3s;
    /* Add a smooth transition effect */
}

.service-offer-card:hover .service-svg {
    fill: tomato;
}

.service-offer-card:hover h4,
.service-offer-card:hover p {
    color: #ffffff;
}

.service-offer-card p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* testimonials card */

.testimonals-card {
    border: 1px solid #f8f9fa;
    border-radius: 8px;
    transition: 0.4s;
    background-color: #ffffff;
}

.testimonals-card:hover {
   background-color: #f6f6f6;
   transform: scale(1.02);
}