@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.bg-main {
  background-color: #091D42;
}

.main-container {
  min-height: calc(100vh - 76px);
}

.ck-container {
  min-height: 100vh;
}

.ck-main-container {
  height: auto;
  padding: 100px 0 !important;
}

.ck-main-container-top {
  height: auto;
  padding: 0 0 100px 0 !important;
}

.ck-80-container {
  height: 80vh;
}

.ck-40-container {
  height: 40vh;
}

.ck-tomato {
  color: tomato;
}

.ck-dark-blue {
  color: #010415;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.pnf-bg {
  background-color: #091D42;
}

.construction-bg {
  background-color: #fbfcff;
}

.pnf-img {
  height: 100vh;
}

.pnf-btn {
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
}